@use "sass:map"; // sass function -- needed -- provides nested variables

//////////////////////////////////////////////////
// Breakpoints
/////////////////////////////////////////////////

// media breakpoints -- uses min-width(mobile first approach)
// clarification
// 10 -> 280 = extraSmall, || 281 -> 768 = small, || 769 -> 1040 =  medium
// 1041 -> 1440 = large, || 1441 -> infinity = extraLarge
// most of these are arbituary numbers I chose based on research and experience.
$breakpoints: (
    extraSmall: 10px,
    small: 280px,
    medium: 768px,
    large: 1040px,
    extraLarge: 1440px,
);

//////////////////////////////////////////////////
// Colors
/////////////////////////////////////////////////
$colors-default-dark: (
    clr-primary: #1d1d1d,
    clr-secondary: #202020,
    clr-accent: #45382fe0,
    clr-txt-primary: #fff,
    clr-txt-secondary: #252525,
    clr-txt-accent: #ecc46c,
    clr-light-grey: #ffffff33,
    clr-dark-grey: #2e2e2e,
    clr-box-shad-primary: #16161670,
    clr-green: #3cff00d3,
    clr-red: #d42222e0,
    clr-white: #fff,
);

$colors-cascade-light: (
    clr-primary: #ffffff,
    clr-secondary: #fff,
    clr-txt-primary: #222222ee,
    clr-txt-secondary: rgb(241, 241, 241),
    clr-txt-accent: #da9500,
    clr-light-grey: #c4c4c4,
    clr-dark-grey: #81818133,
    clr-box-shad-primary: #b4b4b434,
);

//////////////////////////////////////////////////
// Font family
/////////////////////////////////////////////////
$font-families: (
    ff-primary: "'Arial',sans-serif",
    ff-secondary: "'Arial',sans-serif",
    ff-tetiary: "'Arial',sans-serif",
);

//////////////////////////////////////////////////
// Extras
/////////////////////////////////////////////////
$extras: ();
