@use "sass:map"; // sass function -- needed -- provides nested variables

//////////////////////////////////////////////////
// Breakpoints
/////////////////////////////////////////////////

// media breakpoints -- uses min-width(mobile first approach)
// clarification
// 10 -> 280 = extraSmall, || 281 -> 768 = small, || 769 -> 1040 =  medium
// 1041 -> 1440 = large, || 1441 -> infinity = extraLarge
// most of these are arbituary numbers I chose based on research and experience.
$breakpoints: (
    extraSmall: 10px,
    small: 280px,
    medium: 768px,
    large: 1040px,
    extraLarge: 1440px,
);

//////////////////////////////////////////////////
// Colors
/////////////////////////////////////////////////
$colors: (
    clr-prim: red,
    clr-sec: red,
    clr-acc: red,
    clr-txt-prim: red,
    clr-txt-sec: red,
    clr-txt-acc: red,
);

//////////////////////////////////////////////////
// Font family
/////////////////////////////////////////////////
$font-families: (
    ff-prim: "'Arial',sans-serif",
    ff-sec: "'Arial',sans-serif",
    ff-tet: "'Arial',sans-serif",
);

//////////////////////////////////////////////////
// Extras
/////////////////////////////////////////////////
$extras: ();
